{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Help"%}{% endblock %}

{% block content %}

<h1>{% trans "How to import data in an external program" %}</h1>

<p>{% trans "If you want to manage data of an inventory in a spreadsheet or database program, you can take advantage of the export feature of the BCIS platform." %}</p>

<p>{% trans "First go to the inventory main page and copy the <strong>Access URL</strong> which is displayed on the bottom of the page." %}</p>

<p class="note">{% trans "Note that you can only see the access URL if you're the owner of the inventory." %}</p>

<p>{% trans "Then go to your program and enter the URL in the external data functionality that it provides." %}</p>

<p>{% trans "Here is an example of the procedure to follow with the Openoffice.org Calc program." %}
  {% url 'help' 'external_data_2007' as url_2007 %}
  {% blocktrans %}See <a href="{{ url_2007 }}">here</a> for a similar procedure with Microsoft Excel 2007.{% endblocktrans %}</p>
<img src="{% static 'img/help/1_extdata.png' %}" alt="External data menu"/>

<p>{% trans "Copy the access URL in the External data window, and don't forget to type the Enter key." %}</p>

<img src="{% static 'img/help/2_extdata.png' %}" alt="External data window"/>

<p>{% trans "Be patient! Depending on the amount of data requested, the process can take several minutes before you see the next step." %}</p>

<img src="{% static 'img/help/3_extdata.png' %}" alt="External data window"/>

<p>{% trans "Choose the first line in the sheet list, click OK and be patient once again!" %}</p>

<p>{% trans "You can optionally choose to click the Refresh checkbox if you want the data to be retrieved again at a specified interval." %}</p>

<p>{% trans "Eventually you'll see the data displayed in your spreadsheet." %}</p>

<img src="{% static 'img/help/4_extdata.png' %}" alt="Data in spreadsheet"/>

<p class="note">{% trans "Note that this is an “export” of the data. Any modification you make in the external program will not be reflected in the BCIS platform." %}</p>

{% endblock %}
