{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Help"%}{% endblock %}

{% block content %}

<h1>{% trans "How to import data in an external program" %}</h1>

<p>{% trans "If you want to manage data of an inventory in a spreadsheet or database program, you can take advantage of the export feature of the BCIS platform." %}</p>

<p>{% trans "First go to the inventory main page and copy the <strong>Access URL</strong> which is displayed on the bottom of the page." %}</p>

<p class="note">{% trans "Note that you can only see the access URL if you're the owner of the inventory." %}</p>

<p>{% trans "Then go to your program and enter the URL in the external data functionality that it provides." %}</p>

<p>{% trans "Here is an example of the procedure to follow with the Microsoft Excel 2007 program." %}
  {% url 'help' 'external_data_ooo' as url_ooo %}
  {% blocktrans %}See <a href="{{ url_ooo }}">here</a> for a similar procedure with Openoffice.org Calc.{% endblocktrans %}</p>
<img src="{{ STATIC_URL }}img/help/extdata_07_1.png" alt="External data menu"/>

<p>{% trans "Copy the access URL in the Address bar of Web request window, and don't forget to click OK next to the address." %}
 {% trans "Click on the arrow in the main part of the window to select the data, then click Import on the bottom of the window." %}</p>

<img src="{{ STATIC_URL }}img/help/extdata_07_2.png" alt="External data window"/>

<p>{% trans "Be patient! Depending on the amount of data requested, the process can take several minutes before you see the next step." %}
 {% trans "If you get a warning about some XML source creation, just click OK." %}</p>

<img src="{{ STATIC_URL }}img/help/extdata_07_3.png" alt="External data window"/>

<p>{% trans "When you are given the choice to select where to import data, select the current sheet." %}</p>

<p>{% trans "Eventually you'll see the data displayed in your spreadsheet." %}</p>

<p class="note">{% trans "Note that this is an “export” of the data. Any modification you make in the external program will not be reflected in the BCIS platform." %}</p>

{% endblock %}
