{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home"%}{% endblock %}

{% block content %}

<h1>{% blocktrans with uname=disp_user.username %}Page of {{ uname }}{% endblocktrans %}</h1>

<form method="post" action="{% url 'logout' %}">{% csrf_token %}
    <input type="submit" value="{% trans 'Logout' %}">
</form>

<form method="get" action="{% url 'password_change' %}">{% csrf_token %}
    <input type="submit" value="{% trans 'Change password' %}">
</form>
{% endblock %}
