.publications {
  margin: 3rem auto;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  justify-content: center;
}
.publication {
  display: flex;
  flex-direction: column;
  padding: 0.5rem;
  border: 1px solid black;
  box-shadow: 10px 5px 5px black;
}
.publication > * {
  margin: 0 0 1rem
}
.publication h2 {
  margin-bottom: 1rem;
}
.publication p {
  flex-grow: 1;
}
.publication .links-list {
  padding: 0;
  margin: 0;
  list-style-type: none;
}
.publication .publication-footer {
  display:flex;
  justify-content: left;
  align-items: end;
}
.publication .author {
  flex-grow: 1;
  text-align: right;
  font-style: italic;
}
.btn-admin {
  display: block;
  text-decoration: none;
  padding: 10px;
  margin: 0;
  border: 1px solid black;
  box-sizing: border-box;
  width: max-content;
  color: red;
  font-weight: 900;
}
.btn-admin:hover {
  text-decoration: none;
  border: 1px solid black;
  background-color: #ffcccb;
  color: red;
}

@media (max-width: 960px) {
  .publications {
    grid-template-columns: repeat(2, 1fr);
  }

@media (max-width: 800px) {
  .publications {
    grid-template-columns: repeat(1, 1fr);
  }
}
