/* Override main.css */

div.button a:hover {
  color: black;
}

/* Header styles */
#webHeaderDiv {
  display: flex;
  justify-content: space-between;
}

#webLogoDiv {
float:left;
height:80px;
width:140px;
}

#webHeaderLinks {
float:right;
text-align:right;
width:525px;
}

#webHeaderLinks a {
color:#000000;
display:block;
font-size:1.2em;
font-weight:bold;
margin:10px 20px 0 0;
text-decoration:none;
}

#adminch {
height:20px;
margin:0;
padding:0;
width:525px;
}

#adminch a {
display:block;
font-size:0.9em;
font-weight:bold;
margin:0 20px 0 0;
padding:2px 0 0;
}

/* Web service (login) bar styles */
#webServiceNavigationDiv {
  display: flex;
  border-bottom:1px solid #FFFFFF;
  margin: 1.8em 0 0 0;
  background-image: linear-gradient(to right, #279CBC, white 98%);
}
div.search, div.login {
  margin: 0.5em;
  font-size: 0.9em;
}

/* Content styles */

div.block {
float:left;
margin:0.6em 0.6em 0.6em 0;
}

div.block h2 {
color: black;
background-color:#CCCCCC;
}
div.block_content {
border-color: #999999;
border-top-color: white;
}

div.medias img {
  /* 960px * 65% / 2 - 1em */
  max-width: 282px;
}

td.taxons {
  background-color:#d9dec6;
}

.inputlabel {
  /* Alignement between label and widget in forms */
  padding-top: 6px;
}

/* Footer */
#webFooter {
  clear: both;
  border-bottom: 1px solid #000000;
  border-top: 1px solid #000000;
  font-size: 0.9em;
  margin: 1em;
  padding: 5px 0;
  text-align:left;
}
