{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Attributes"%}{% endblock %}

{% block content %}

{% for group in attr_groups %}
  <h1>{{ group.gname }} ({{ group.category }})</h1>
  {% for attr in group.get_attributes %}
    <h2 style="margin-left: 1em;">{{ attr.atitle }} ({{ attr.name }})</h2>
    {% for subattr in attr.subattributes.all %}
      <h3 style="margin-left: 2em;">{{ subattr.atitle }} ({{ subattr.name }})</h3>
    {% endfor %}
  {% endfor %}
{% endfor %}

<h1>{% trans "Other attributes (not grouped)" %}</h1>
{% for attr in attrs_no_group %}
    <h2 style="margin-left: 1em;">{{ attr.atitle }} ({{ attr.name }})</h2>
    {% for subattr in attr.subattributes.all %}
      <h3 style="margin-left: 2em;">{{ subattr.atitle }} ({{ subattr.name }})</h3>
    {% endfor %}
{% endfor %}

{% endblock %}
