{% load i18n %}

<div class="object_block_right">
  <h2 class="object_block_title">{% trans "Files" %}</h2>

  {% for file in obj.files.all %}
  <div class="file" id="file-{{ file.id }}">
     <a href="{{ file.fil.url }}" title="{% trans "Download" %}"><img src="{{ file.get_icon }}" />
     <div class="file_title {% if editable %}editable{% endif %}">{{ file.title }}</a>
     {% if editable %}
      <a href="{% url 'edit_file' obj.id file.id %}">
        <img class="edit_icon" src="{% static 'img/edit.png' %}" height="16" title="{% trans "Edit" %}" alt="edit icon" /></a>
      <a href="." onclick="return delete_file({{ file.id }})">
        <img class="edit_icon" src="{% static 'img/delete.png' %}" height="16" title="{% trans "Delete" %}" alt="delete icon" /></a>
     {% endif %}
     </div>
  </div>
  {% endfor %}
</div>
