{% load i18n thumbnail %}

<div class="images">
{% for photo in photos %}
<div class="photo" id="photo-{{ photo.id }}">
     <div><img src="{{ photo.photo.thumbnail }}" /></div>
     <div style="float: right;"><a href="#" class="icon" onclick="return zoom_image('{{ photo.photo.url }}', {{ photo.photo.width }}, '{{ photo.title|linebreaksbr|escapejs }}');"><img src="{% static 'img/zoom_icon.png' %}" height="22"/></a></div>
     <div class="photo_title {% if editable %}editable{% endif %}" style="max-width:{{ photo.photo.thumbnail.width }}px">{{ photo.title|linebreaksbr }}
     {% if editable %}
      &nbsp;
      <a href="{% url 'edit_photo' obj.id photo.id %}">
        <img class="edit_icon" src="{% static 'img/edit.png' %}" height="16" title="{% trans "Edit" %}" alt="edit icon" /></a>
      <a href="." onclick="return delete_photo({{ photo.id }})">
        <img class="edit_icon" src="{% static 'img/delete.png' %}" height="16" title="{% trans "Delete" %}" alt="delete icon" /></a>
     {% endif %}
     </div>
</div>
{% endfor %}
{% for photo in images %}
  {% if forloop.first %}<div id="nextbtn"><a class="icon" href="#"><img src="{% static 'img/next.jpg' %}" alt="Next"/></a></div><div id="carousel"><ul>{% endif %}
  <li><a href="#{{ photo.id }}" title="{% trans "Click to enlarge" %}">
    {% thumbnail photo.imagesubobject.image "140x90" as im %}<img id="img-{{ photo.id }}" src="{{ im.url }}" width="{{ im.x }}" height="{{ im.y }}"/>
    </a><p class="caption" style="width: 140px;">{{ photo.title }}</p>
    {% endthumbnail %}
    </li>
  {% if forloop.last %}</ul></div><div id="prevbtn"><a class="icon" href="#"><img src="{% static 'img/prev.jpg' %}" alt="Previous"/></a></div>{% endif %}
{% endfor %}
</div>
