{% spaceless %}
<table class="tabular">
{% if caption %}<caption>{{ obj.title }}</caption>{% endif %}
{% if num_children == 0 %}
    <tr><td>No content</td></tr>
{% else %}
  <thead><tr>{% if has_stats %}<th></th>{% endif %}
  {% for h in headers %}<th>{{ h }}</th>{% endfor %}
  </tr></thead>
  <tbody>
  {% for line in sdict_list %}
    <tr>
      {% if has_stats %}<td></td>{% endif %}
      {% for key, attr in line.items %}
        <td>{{ attr }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tbody>
  <tfoot>
  {% for line in stats_list %}
    <tr>
      {% for key, attr in line.items %}
        <td>{{ attr }}</td>
      {% endfor %}
    </tr>
  {% endfor %}
  </tfoot>
{% endif %}
</table>
{% endspaceless %}
