{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Inventory contents"%}{% endblock %}

{% block content %}

<h1>{{ invent.title }}</h1>
<div class="edit_buttons">
    <a href="{% url 'invent_edit' invent.id %}"><img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans "Edit" %}"/></a>
</div>
<em>{% trans "Contained objects:" %}</em> {{ invent.contents.count }}

<ul>
{% for acc in invent.contents.all %}
    <li><a href="{{ acc.get_absolute_url }}">{{ acc.get_title }}</a></li>
{% endfor %}
</ul>
<a href="{% url 'object_create' invent.id 'specimen' %}">{% trans "New..." %}</a>

{% endblock %}
