{% load i18n thumbnail %}
{% thumbnail image.imagesubobject.image "640" as im %}
<a class="icon" href="#" title="{% trans "Click to close image" %}"><img src="{{ im.url }}" width="{{ im.x }}" onclick="close_image();" /></a>
{% endthumbnail %}
<div style="float:right; font-size: 0.8em;">
    <a href="{{ image.imagesubobject.image.url }}">{% trans "Higher resolution image" %}</a> |
    <a href="javascript:close_image();">{% trans "Back to object details" %}</a>
    {% if editable %}| <a class="icon" href="{% url 'object_edit' image.id %}"><img src="{% static 'img/edit.png' %}" alt="edit icon" title="{% trans "Edit Description" %}" width="18"/></a>
    <form method="post" action="{% url 'object_delete' image.id %}" onsubmit="return confirm('{% trans "Do you really want to delete this image?" %}');" style="display: inline">
    <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" title="{% trans "Delete" %}" width="16" /></form>
    {% endif %}
</div>
<p><b>{{ image.title }}</b><br/>
{{ image.description|default_if_none:""|safe }}</p>

<div id="new_descriptor" style="display:none; clear: both;">
    <!-- include "invent/attribute_edit.html" -->
</div>

{% include "invent/object_value_blocks.html" %}

{% if editable %}
<div style="clear:both;" class="status-private">
<form>
  {% trans "Image attribute" %} <select id="new_img_attr">
  {% for attr in img_attrs %}<option value="{{ attr.id }}">{{ attr.name }}</option>{% endfor %}
  </select> <a href="" id="add_attr">Add</a>
</form>
</div>
{% endif %}

