{% extends "base.html" %}
{% load i18n %}
{% load myforms %}
{% block title %}{% trans "Object editing"%}{% endblock %}
{% block extra_head %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/invent.css' %}"/>
  <script src="{% static 'js/invent.js' %}"></script>
<script>
function set_taxon(id, name) {
    window.document.edit_form.taxon.value = id;
    $('#taxon_name').html(name);
}
var taxo_url = "{% url 'taxo_tree_by_rank' 'familia' 'selectb' %}";
</script>
{% endblock %}

{% block content %}

{% if not obj %}
    <h1>{% blocktrans with form.obj_type.tname as obj_name %}New {{ obj_name }}:{% endblocktrans %}</h1>
{% endif %}

<form name="edit_form" method="post" action="." enctype="multipart/form-data">
{% csrf_token %}
{{ form.non_field_errors }}
<table class="form">
{% if form.obj_type.is_hidden %}
    {{ form.obj_type }}
{% else %}
<tr><th class="form">{{ form.obj_type|get_label }}</th><td>{{ form.obj_type.errors }}{{ form.obj_type }}</td></tr>
{% endif %}
{% if form.parent %}
<tr><th class="form inputlabel">{{ form.parent|get_label }}</th><td>{{ form.parent.errors }}{{ form.parent }}</td></tr>
{% endif %}
<tr><th class="form inputlabel">{{ form.title|get_label }}</th><td>{{ form.title.errors }}{{ form.title }}</td></tr>
<tr><th class="form inputlabel">{{ form.description|get_label }}</th><td>{{ form.description.errors }}{{ form.description }}</td></tr>

{% if form.taxon %}
<tr><th class="form">{% trans "Taxonomy" %}</th>
    <td><span style="float:right; margin-left:1em;"><a href="." onclick="return open_taxo(taxo_url);"><em><small>Select...</small></em></a></span>
        <span class="taxo_name" id="taxon_name">{% if obj.taxon %}{{ obj.taxon.full_name }}{% endif %}</span>
        {{ form.taxon }}</td></tr>
<tr><th class="form inputlabel">{{ form.REMARKS_TAXO|get_label }}</th><td>{{ form.REMARKS_TAXO.errors }}{{ form.REMARKS_TAXO }}</td></tr>
{% endif %}

{% if form.status %}
<tr><th class="form inputlabel">{{ form.status|get_label }}</th><td>{{ form.status.errors }}{{ form.status }}</td></tr>
{% endif %}

{% for group_name, group_fields in form.gr_fields.items %}
  <tr>
    <td colspan="2" class="field_group_header"><a href="." onclick="return toggle_group('{{ group_name|slugify }}');">
      <img id="{{ group_name|slugify }}-expander" src="{% static 'img/menu_down.gif' %}" class="icon" alt="closed symbol" /></a>&nbsp;{{ group_name }}</td>
  </tr>
  <tbody id="{{ group_name|slugify }}-tbody">
  {% for field in group_fields %}
    <tr><th class="form inputlabel">{{ field.label }}</th><td>{{ field.errors }}{{ field }}
        {% if field.field.comments %}<br/><span class="comment">{% trans "Comment:" %} {{ field.field.comments }}</span>{% endif %}
        {% if field.help_text %}<br/><span class="help_text">{{ field.help_text }}</span>{% endif %}</td></tr>
  {% endfor %}
  </tbody>
{% endfor %}
{% if form.shape_file %}
  <tr><td colspan="2"><hr></td></tr>
  <tr><th>{{ form.shape_file|get_label }}</th><td>{{ form.shape_file.errors }}{{ form.shape_file }}</td></tr>
{% endif %}
</table>
<table width="100%">
<tr><td align="right">
    <input type="button" onclick="history.go(-1)" value="{% trans "Cancel"%}" />
    <input type="submit" value="{% if not obj %}{% trans "Create"%}{% else %}{% trans "Modify" %}{% endif %}" />
</td></tr>
</table>
</form>
{% endblock %}
