{% extends "base.html" %}
{% load i18n %}
{% block title %}{{ title }}{% endblock %}

{% block extra_head %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="{% static 'css/publications.css' %}"/>
{% endblock %}

{% block content %}
<h1>{{ title }}</h1>
{% if admin_link %}
  <a href="{{ admin_link }}" class="btn btn-admin" style="margin-top: 10px">{{ title }} admin</a>
{% endif %}
{% if publications %}
  <div class="publications">
    {% for publication in publications %}
      <div class="publication">
        <h2>{{ publication.title }}</h2>
        <p>{{ publication.summary|linebreaksbr }}</p>
        <div class="publication-footer">
          <ul class="links-list">
            {% if publication.link %}<li><a href="{{ publication.link }}" target="_blank">{% trans "Link" %}</a></li>{% endif %}
            {% if publication.pdf_file %}<li><a href="{{ publication.pdf_file.url }}">{% trans "PDF" %}</a></li>{% endif %}
          </ul>
          {% if publication.author %}<span class="author">{% trans "written by:" %} {{ publication.author }}</span>{% endif %}
        </div>
      </div>
    {% endfor %}
  </div>
{% else %}
  <p>{% trans "No article yet" %}</p>
{% endif %}

{% endblock %}
