{# called from invent/object_detail to render a bioseq element #}
<div><a href="{% url 'display_sequence' obj.id attr_values.pk %}"><img src="{% static 'icons/dna-gr.png' %}"/> {{ attr_title }}</a></div>
