{% extends "base.html" %}
{% load i18n bioseq %}
{% block title %}{% trans "Blast result"%}{% endblock %}

{% block extra_head %}
<script type="text/javascript">
$(document).ready(function() {
  $(".expander").toggle(function() {
      $(".expandable_content", $(this).parent().parent()).hide();
      $(this).attr("src", "{% static 'img/closed.png' %}");
    }, function() {
      $(".expandable_content", $(this).parent().parent()).show();
      $(this).attr("src", "{% static 'img/open.png' %}");
    });
});
</script>
{% endblock %}

{% block content %}
<h1>{{ obj.title }}</h1>
{% trans "Program used:" %} {{ record.application }} ({{ record.version }})<br/>
{% trans "Database:" %} {{ record.database }} ({% if blast.is_local %}local{% else %}online{% endif %})<br/>
{% trans "Date:" %} {{ blast.blast_date|date:"Y-m-d H:i" }}<br/>
{% for align in record.alignments %}
  <div class="alignment" style="border: 1px dotted gray; padding: 2px; margin-top:0.5em;">{{ forloop.counter }}. {{ align.hit_def }}<br/>
  {% for hsp in align.hsps %}
    {% trans "Score:" %} {{ hsp.score }}<br/>
    {% trans "Identities:" %} {{ hsp.identities }}/{{ hsp.align_length }} ({{ hsp|ident_perc }}%)<br />
  
    <div class="expandable"><a href="."><img src="{% static 'img/open.png' %}" class="expander"></a>{% trans "Alignment:" %}
      <div class="expandable_content">{{ hsp|split_align:"75" }}</div>
    </div>
  {% endfor %}
  </div>
{% empty %}
  {% trans "No hit" %}
{% endfor %}

{% endblock %}
