{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Sequence display"%}{% endblock %}

{% block content %}

{% if editable %}
<div class="edit_icons">
  <form method="post" action="{% url 'delete_sequence' obj.pk bioentry.pk %}" onsubmit="return confirm('{% trans "Do you really want to delete this sequence?" %}');" style="display: inline">
    {% csrf_token %}
    <input type="image" src="{% static 'img/delete.png' %}" alt="delete icon" title="{% trans "Delete" %}" width="16" /></form>
</div>
{% endif %}

<h1>{{ obj.title }}</h1>

<div><pre>{{ raw }}</pre></div>

<div align="right" style="font-size:90%">Format:  <a href=".">HTML</a> | <a href=".?format=genbank">GenBank</a> | <a href=".?format=fasta">FASTA</a></div>
{% endblock %}
