{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Error: Access denied" %} (403){% endblock %}

{% block content %}

<h1>{% trans "Error: Access denied" %}</h1>

<p>{% trans "Sorry, but you are not authorized to view this page." %}</p>
<p>{% trans "Reason:" %} {{ reason }}</p>

{% endblock %}
