{% extends "base.html" %}
{% load i18n %}

{% block title %}{% trans "Server error" %} (500){% endblock %}

{% block content %}

<h1>{% trans "Server error" %}</h1>

<p>{% trans "An error occurred on the server." %}<br/>
{% trans "Administrators has been warned and will do their most to fix the problem." %}</p>

{% endblock %}
