{% extends "base.html" %}
{% load i18n %}
{% block title %}{% trans "Home"%}{% endblock %}
{% block extra_head %}
  <style>
      h1 { font-size: 240%; border: none; }
      .welcome { font-size: 180%; font-weight: bold; padding-left: 5px; }
      #myco-logo { width: 75%; margin: 0 auto;}
      .head { font-size: 130%; }
      fieldset { padding-bottom: 1.5em; }
      .container { display: flex; justify-content: space-between; }
      .links { margin-left: 1em; }
      .links div { margin: 1em 0; border: 1px solid red; border-radius: 10px; padding: 0.7em;
        background-color: #fbe5d6; text-align: center; }
      #random_img img { max-width: 100%; margin: 1em 0; }
      .ac-head { font-style: italic; font-size: small; }
      .ac-results { margin-left: 1em; }
      .legend { text-align: center; font-style: italic; }
  </style>
  <script src="{% static 'js/autocomplete.js' %}"></script>
  <script>
    window.addEventListener('DOMContentLoaded', (event) => {
        window.autocomplete = new Autocomplete({
            form_selector: '.autocomplete',
            url: "{% url 'autocomplete' %}"
        });
        window.autocomplete.setup();
    });
  </script>
{% endblock %}

{% block edition_content %}{% endblock %}

{% block content %}

<p><span class="welcome">{% trans "Welcome on" %}</span><br>
<div id="myco-logo"><img src="{% static 'img/logo_text.svg' %}"></div>
</p>
<div style="display: flex; justify-content: space-between;">
    <div class="head text-center">{% trans "The database from Agroscope's Mycothèque" %}</div>
    <div class="text-center">
        {% trans "Mycothèque live:" %} <a href="https://www.youtube.com/watch?v=KLrYIt30GG8"><img src="{% static 'img/youtube-thumb.png' %}" style="vertical-align: middle;"></a>
    </div>
</div>

<fieldset class="text-center" style="margin-top: 0.5em;">
<form method="get" action="{% url 'search' %}" class="autocomplete">
    <p><b>{% trans "Search for a strain of mushroom" %}</b></p>
    <div>
        {{ form.text.errors }}
        {{ form.text }}
        <button>{% trans "Search" %}</button>
    </div>
    <div class="ac-head hidden">{% trans "Suggestions:" %}</div>
    <div class="ac-results"></div>
    <template id="resultTemplate">
        <div class="result-wrapper"><a href="" class="ac-result"></a></div>
    </template>
</form>
</fieldset>

<div class="container">
    <div id="random_img" class="text-center">
        <img src="{{ img_url }}" alt="image de {{ img_name }}">
        <div class="legend">{{ img_name }}</div>
    </div>
    {% if user.is_authenticated %}
    <div class="links">
        <div>
            <a href="{% url 'object_detail' 4062 %}">Mycothèque</a>
        </div>
        <div>
            <a href="{% url 'object_detail' 2407 %}">Herbier mycologique</a>
        </div>
        {% if perms.invent.add_baseobject %}
        <div>
            <a href="{% url 'object_create' 4062 "specimen" %}" id="create_link"><em>{% trans "New specimen…" %}</em></a>
        </div>
      {% endif %}
      </div>
    </div>
    {% endif %}
</div>
{% endblock %}
