{% load i18n %}
<div class="login">
    {% if user.is_authenticated %}
      <span class="username"><a class="header" href="{% url 'profile' %}"><img src="{% static 'img/person.png' %}" class="icon" alt="person icon"> {{ user.username }}</a></span>&nbsp;&nbsp;
      <form style="display:inline;" method="post" action="{% url 'logout' %}">
          {% csrf_token %}
          <input type="image" src="{% static 'img/logout.png' %}" alt="{% trans 'Logout' %}" title="{% trans 'Logout' %}">
      </form>
    {% else %}
      <div><a href="{% url 'login' %}?next={{request.path}}">{% trans "Login" %}</a></div>
    {% endif %}
</div>
