{% extends "base.html" %}
{% load i18n %}
{% comment %}
Input:
    main_taxon:       is the main taxon object whose children are displayed
    displayed_taxons: is a list of structured dicts prepared in view
{% endcomment %}

{% block title %}BCIS: {% trans "Taxonomic tree" %}{% endblock %}

{% block extra_head %}
  <script src="{% static 'js/taxo.js' %}"></script>
{% endblock %}

{% block content %}

<div class="top_line">
    {% include "taxo/rank_selector.html" %}
    {% include "taxo/search_selector.html" %}
</div>

<div class="content_line">
{% include "taxo/taxo_widget.html" %}
</div>

<div class="bottom_line">
{% if main_taxon %}
<form style="float: right" onsubmit="return select_and_close({{ main_taxon.id }}, '{{ main_taxon.full_name }}')">
<input type="submit" value="{% trans "Select" %}" />
</form>
{% endif %}
</div>
{% endblock %}
